.img-a{
  float: left;
  position: absolute;
  top: 200px;
  left: 100px;
}

.img-b{
  float: left;
  position: absolute;
  top: 200px;
  right: 100px;
}


.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

h1 {
  margin-bottom: 0;
  color: #12cad6;
  font-family: 'Great Vibes';
  font-size: 70px;
}
input{
  width: 300px;
}
font{
    font-family: 'Quicksand';
  color: #fff3af;
}

td{
        font-family: 'Quicksand';
    color: #ffd800;
}

p {
  color: #fff3af;
    font-family: 'Quicksand';
}

a {
    font-family: 'Quicksand';
  color: #ffcc00;
}

strong {
    font-family: 'Quicksand';
  color: #ffcc00;
}

.input-a {
  width:120px;
  margin-left: 80px;
	box-shadow:inset 0px 0px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #e5f500 5%, #0ecc9d 100%);
	background-color:#e5f500;
	border-radius:42px;
	border:2px solid #8e8cbd;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:21px;
	padding:12px 23px;
	text-decoration:none;
	text-shadow:0px 0px 0px #00c0fa;
}
.input-a:hover {
	background:linear-gradient(to bottom, #0ecc9d 5%, #e5f500 100%);
	background-color:#0ecc9d;
}
.input-a:active {
	position:relative;
	top:1px;
}
